$font-family-monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

$font-family-sans: "Oxygen", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;


// MEDIA QUERIES
$max-width-sm: 767px;
$min-width-med: $max-width-sm + 1;
$min-width-lg: 1024px;
