$font-family-monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

$font-family-sans: "Oxygen", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$transition-speed: 0.5s;
$transition-mode: ease;
