.commit-list {
  background-color: $commit-ul-bg;

  .header {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
    letter-spacing: 0.1px;
    background-color: $commit-li-bg;
  }

  li {
    padding: 0.5em;
    background-color: $commit-li-bg;
    margin: 1px;
    text-transform: capitalize;

    &:hover {
      background-color: $commit-li-hover-bg;
      cursor: pointer;
    }

    &.checked-out {
      background-color: $commit-li-checkout-bg;
    }
  }
}
