.commit-list {

  .header {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
    letter-spacing: 0.1px;
  }

  ul {
    background-color: $commit-ul-bg;
  }

  li {
    padding: 0.5em;
    background-color: $commit-li-bg;
    margin: 1px;
    text-transform: capitalize;

    &:hover {
      background-color: $commit-li-hover-bg;
      cursor: pointer;
    }

    &.checked-out {
      background-color: $commit-li-checkout-bg;
    }
  }

  .spinner-container {
    @include pos(a, 50% 0 null 0);
    font-size: 45px;
    text-align: center;
    color: $commit-li-spinner-color;
    margin-top: -1em;

    .fa {
      vertical-align: middle;
    }
  }
}
