.file-tree {
  @include pos(a, 0 0 0 0);
  @include unselectable();
  padding: 0.75em;
  background-color: $file-tree-bg;
  color: $file-tree-color;
  overflow: auto;
  font-size: 14px;

  .file, .folder {
    cursor: pointer;
    padding: 0.1em 0;

    &.viewing {
      color: $file-tree-color-viewing;

      &.changed {
        color: $file-tree-color-viewing-changed;
      }
    }

    &.changed {
      color: $file-tree-color-changed;
    }

    &:hover {
      color: $file-tree-color-hover !important;
    }
  }

  .folder {
    @include pos(a, null 0 null 0);
    padding-left: 1.5em;

    &::before {
      @include fa("\f07b");
    }

    &.expanded {
      &::before {
        @include fa("\f07c");
      }
    }
  }

  .tree-view {
    position: relative;
    min-width: 100%;
    display: inline-block;
    overflow: visible;
    margin-bottom: .25em;
  }

  .tree-view_children {
    margin-top: .25em;
  }

  .tree-view_children-collapsed {
    display: none;
  }

  .tree-view_arrow {
    visibility: hidden;
  }

}
