.file-view {
  height: 100%;

  pre {
    margin: 0;
    height: 100%;

    code {
      margin: 0;
      min-height: 100%;
      box-sizing: border-box;
      border: none;
      padding: 1em;

      .unchanged {
        opacity: 0.5;
      }

      .changed {
        font-weight: 700;
        opacity: 1;
      }
    }
  }
}
