// COMMIT LIST
$commit-ul-bg: #ddd;
$commit-li-bg: #fefefe;
$commit-li-hover-bg: #eee;
$commit-li-checkout-bg: #e3e3e3;

// FILE TREE
$file-tree-bg: #111;
$file-tree-bg-hover: rgba(255,255,255,.02);
$file-tree-color: #666;
$file-tree-color-hover: #fff;
$file-tree-color-changed: #ccc;
$file-tree-color-viewing: rgba(136, 221, 255, 0.6);
$file-tree-color-viewing-changed: rgba(136, 221, 255, 1);
$file-tree-viewing-color: #8DF;

// FILE VIEW
$filename-font-size: 16px;
$filename-bg-color: #111;
$filename-color: #eee;
$filename-height: 36px;
