// BASE styling
.content {
  @include pos(a, $navbar-height 0 0 0);

  .left-bar {
    @include pos(a, 0 null 0 0);
    overflow: auto;
    width: $left-bar-width;
    transition: width $transition-speed $transition-mode,
                left $transition-speed $transition-mode;
  }

  .content-view {
    @include pos(a, 0 0 0 0);
    transition: width $transition-speed $transition-mode,
                left $transition-speed $transition-mode,
                right $transition-speed $transition-mode;
  }

  .right-bar {
    @include pos(a, 0 0 0 null);
    width: $right-bar-width;
    transition: width $transition-speed $transition-mode,
                right $transition-speed $transition-mode;
  }

  .scroller {
    overflow: auto;
    @include pos(a, 0 0 0 0);
  }
}


// EXTRA SMALL screens

@media (max-width: $breakpoint-sm) {
  .content {
    @include pos(a, $navbar-height-sm 0 0 0);

    // make each column full-width
    .left-bar, .content-view, .right-bar {
      width: 100%;
    }


    // COMMITS layout

    .commits-layout {

      // move all but left bar off-screen
      .content-view {
        right: -100%;
        left: 100%;
      }
      .right-bar {
        right: -200%;
      }

    }


    // MESSAGE layout

    .message-layout {

      // move both bars off-screen
      .left-bar {
        left: -100%;
      }
      .right-bar {
        right: -100%;
      }

    }


    // CODE layout

    .code-layout {

      // move all but right bar off-screen
      .left-bar {
        left: -200%;
      }
      .content-view {
        left: -100%;
        right: 100%;
      }

    }

  }
}



// SMALL screens

@media (min-width: $breakpoint-sm + 1px) and
       (max-width: $breakpoint-md) {

  .content {
    @include pos(a, $navbar-height-sm 0 0 0);


    // COMMITS layout

    .commits-layout, .message-layout {

      // show left bar
      .content-view {
        @include pos(a, 0 0 0 $left-bar-width);
      }
      // hide right bar
      .right-bar {
        right: -$right-bar-width;
      }
    }


    // CODE layout

    .code-layout {

      // hide left bar
      .left-bar {
        left: -$left-bar-width;
      }
      // show right bar
      .content-view {
        @include pos(a, 0 $right-bar-width 0 0);
      }
    }

  }
}


// MEDIUM screens

@media (min-width: $breakpoint-md + 1px) and
       (max-width: $breakpoint-lg) {

  .content {

    // show left bar
    .left-bar {
      width: $left-bar-width;
    }

    // show between bars
    .content-view {
      @include pos(a, 0 $right-bar-width 0 $left-bar-width);
    }

    // show right bar
    .right-bar {
      width: $right-bar-width;
    }

    // cover all but right bar
    .file-view-scroller {
      @include pos(a, 0 $right-bar-width 0 0);
    }
  }
}


// LARGE screens

@media (min-width: $breakpoint-lg + 1px) {
  .content {

    // show wide left bar
    .left-bar {
      width: $left-bar-width-lg;
    }

    // show between wide bars, FileView covers cover only middle
    .content-view, .file-view-scroller {
      @include pos(a, 0 $right-bar-width-lg 0 $left-bar-width-lg);
    }

    // show wide right bar
    .right-bar {
      width: $right-bar-width-lg;
    }

  }
}
