// BASE styling / MEDIUM-LARGE screens
.navbar {

  background-color: $navbar-bg-color;
  font-size: $navbar-font-size;

  .fa {
    font-size: $navbar-font-size + 5px;
    vertical-align: top;
    line-height: $navbar-height;
  }

  ul, li {
    height: $navbar-height;
    margin: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
  }

  .layout-button-li {
    display: none;
  }


  a, button, .icon-container {
    margin: 0;
    border: none;
    border-radius: 0;
    color: $navbar-color;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;

    line-height: $navbar-height;
    vertical-align: top;
    padding: 0 10px;
    height: $navbar-height;

    &:hover {
      background-color: $navbar-bg-color-hover;
    }

    &:focus {
      border: 1px solid $focus-border-color;
    }
  }

  .icon-container {
    width: $navbar-height;
  }

  .warning {
    color: $navbar-warning-color;

    .dropdown {
      position: fixed;
      top: $navbar-height;
      left: 0;
      width: 100%;
      height: auto;
      background-color: $navbar-bg-color-active;
      font-size: 16px;
      z-index: 999;
      visibility: hidden;
      opacity: 0;

      li {
        display: block;
        height: auto;
        line-height: normal;
        padding: 1em;
      }

      transition: visibility $transition-speed/2 $transition-mode,
                  opacity    $transition-speed/2 $transition-mode;
    }

    &:hover, &:active, &:focus {
      .dropdown {
        visibility: visible;
        opacity: 1;
      }
    }

  }

}





// SMALL and EXTRA SMALL screens

@media (max-width: $breakpoint-md) {

  .navbar {

    font-size: $navbar-font-size-sm;

    .fa {
      font-size: $navbar-font-size-sm + 5px;
      line-height: $navbar-height-sm;
    }

    ul, li, a {
      height: $navbar-height-sm;
    }

    a, button, .icon-container {
      padding: 0 15px;
      height: $navbar-height-sm;
      line-height: $navbar-height-sm;
    }

    .icon-li {
      display: inline-block;
      font-size: 25px;
      color: $navbar-color;
      cursor: pointer;

      & .active {
        background-color: $navbar-bg-color-active;
      }
    }

    button, .icon-container {
      width: $navbar-height-sm;
    }

    .button-group {
      position: absolute;
      right: 0;
      background-color: $navbar-bg-color;
    }

    .message-layout-button {
      display: none;
    }

    .warning .dropdown {
      top: $navbar-height-sm;
    }
  }
}



// EXTRA SMALL screens only

@media (max-width: $breakpoint-sm) {

  .navbar {

    .message-layout-button {
      display: inline-block;
    }
  }
}
