// BASE styling / MEDIUM-LARGE screens
.navbar {

  background-color: $navbar-bg-color;
  font-size: $navbar-font-size;

  .fa {
    font-size: $navbar-font-size + 5px;
  }

  ul, li {
    height: $navbar-height;
    margin: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
  }

  a {
    text-align: center;
    padding: 8px;
    span.fa {
      vertical-align: text-top;
    }
  }

  .layout-button-li {
    display: none;
  }


  a, button {
    color: $navbar-color;
    text-decoration: none;

    box-sizing: border-box;
    display: inline-block;

    &:hover {
      background-color: $navbar-bg-color-hover;
    }
  }
}





// SMALL and EXTRA SMALL screens

@media (max-width: $breakpoint-md) {

  .navbar {

    font-size: $navbar-font-size-sm;

    .fa {
      font-size: $navbar-font-size-sm + 5px;
    }

    ul, li {
      height: $navbar-height-sm;
    }

    a {
      padding: 0.7em;
    }

    button, .icon-a {
      margin: 0;
      padding: 15px;
      height: $navbar-height-sm;
      width: $navbar-height-sm;
      border: none;
      border-radius: 0;

      &:focus {
        border: 1px solid $focus-border-color;
      }
    }

    .icon-li {
      display: inline-block;
      font-size: 25px;
      color: $navbar-color;
      cursor: pointer;

      & .active {
        background-color: $navbar-bg-color-active;
      }
    }

    .button-group {
      position: absolute;
      right: 0;
    }

    .message-layout-button {
      display: none;
    }
  }
}



// EXTRA SMALL screens only

@media (max-width: $breakpoint-sm) {

  .navbar {

    .message-layout-button {
      display: inline-block;
    }
  }
}
