// small screens
$navbar-height-sm: 60px;

// medium-large screens
$navbar-height: 40px;

$left-bar-width: 14em;
$right-bar-width: 18em;

// large screens
$left-bar-width-lg: 18em;
$right-bar-width-lg: 20em;


// colors
$navbar-bg-color: #080808;
